.wrapper_first{
	border: 0px solid magenta;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	display: block;
}
.wrapper_second{
	border: 0px solid green;
	width: 100%;
	height: 5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	display: block;
}
.bckgrndClr{
	background: #dfdbdb;
}
.aDecorNone{
	text-decoration: none;
}
.border0{
	border: 0;
}
.width100{
	width: 100%;
}
.divAbout{
	border: 0px solid red;
	width: 40%;
	background: linear-gradient(to top, #898989, #dfdbdb);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10%;
	display: block;
	padding-bottom: 1em;
	padding-top: 1em;
	padding-left: 1em;
	padding-right: 1em;
}
@media only screen and ( max-width: 800px ) {
	.divAbout{
		width: 80%;
		padding-left: .5em;
		padding-right: .5em;
	}
}
@media only screen and ( max-width: 300px ) {
	.divAbout{
		width: 95%;
		margin-left: -2.5%;
	}
}
.about{
	font-size: 100%; 
	font-family: Raleway Medium; 
	text-decoration: none;
	font-style: normal;
	color: black;
	text-align: justify;
	}
@media only screen and ( max-width: 1000px ) {
	.about{
		text-align: left;
	}
}
@media only screen and ( max-width: 600px ) {
	.about{
		font-size: 80%; 
	}
}
.about1{
	font-size: 110%; 
	font-family: Lato Regular; 
	text-decoration: none;
	font-style: normal;
	color: black;
	font-weight: bold;
	text-align: left;	
	}
@media only screen and ( max-width: 600px ) {
	.about1{
		font-size: 90%; 
	}
}
.footer{
	border: 1px solid transparent;
	width: 100%;
	min-width: 185px;
	height: 6em;
	margin-left: auto;
	margin-right: auto;
	background: linear-gradient(to top, #898989, #dfdbdb);
	margin-top: 5em;
	display: block;
}
@media only screen and ( max-width: 970px ) {
	.footer{
		height: 7em;
	}
}
@media only screen and ( max-width: 1399px ) {
	.footer{
		margin-top: 7em;
	}
}
@media only screen and ( max-width: 799px ) {
	.footer{
		margin-top: 4.5em;
	}
}
@media only screen and ( max-width: 599px ) {
	.footer{
		height: 6em;
		margin-top: 0em;
	}
}
@media only screen and ( max-width: 470px ) {
	.footer{
		height: 9em;
	}
}
@media only screen and ( max-width: 250px ) {
	.footer{
		height: 9em;
	}
}
@media only screen and ( max-width: 240px ) {
	.footer{
		margin-left: -.5em;
		margin-right: auto;
	}
}
@media only screen and ( max-width: 220px ) {
	.footer{
		margin-left: -1em;
		margin-right: auto;
	}
}
.divSocialIcons{
	border: 0px solid green;
	width: 230px;
	min-width: 85px;
	margin-right: 5em;
	margin-left: auto;
	margin-top: -2.5em;
	display: block;
	}
@media only screen and ( max-width: 1100px ) {
	.divSocialIcons{
		margin-right: 2em;
	}
}
@media only screen and ( max-width: 970px ) {
	.divSocialIcons{
		width: 110px;
		margin-right: 2em;
		margin-top: -4.25em;
	}
}
@media only screen and ( max-width: 650px ) {
	.divSocialIcons{
		margin-right: .5em;
		width: 85px;
		margin-top: -3.0em;
	}
}
@media only screen and ( max-width: 470px ) {
	.divSocialIcons{
		margin-right: auto;
		margin-left: auto;
		margin-top: 2.25em;
		width: 175px;
	}
}
.bottomLine{
	border: 0px solid blue;
	width: 100%;
	height: 9em;
	margin-left: auto;
	float: left;
	background: linear-gradient(to top, #898989, #dfdbdb);
	margin-right: auto;
	margin-top: 5em;
	display: block;
}
@media only screen and ( max-width: 600px ) {
	.bottomLine{
		height: 7em;
	}
}
@media only screen and ( max-width: 400px ) {
	.bottomLine{
		height: 9em;
	}
}
.creat{
        font-size: 160%; 
	font-family: Lato Regular; 
        text-decoration: none;
	font-style: normal;
        color: #4f4f4f;
        padding-left:10px;
        
      
    }

.creat1{
        font-size: 100%; 
	font-family: Lato Regular; 
        text-decoration: none;
	font-style:normal ;
        color: #8e8e8e;
        padding-left:10px;
        
      
    }