@font-face{
font-family: 'brush script mt regular';
src: url('../font/brush script mt regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
font-family: 'lato regular';
src: url('../font/lato regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
font-family: 'playfair display sc bold';
src: url('../font/playfair display sc bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}
@font-face{
font-family: 'special elite regular';
src: url('../font/special elite regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face{
font-family: 'times new roman regular';
src: url('../font/times new roman regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}